<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product management app</title>
    {{!-- <link rel="stylesheet" href="../../public/style.css"> --}}
    <style>
        body{
            background-color: aqua;
        }
        a{
            padding-right: 10px;
            font-size: 20px;
        }
        nav{
            display: flex;
            justify-conent: space-between;
            align-items: flex-end;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>