{{! views/private.hbs }}

<p>Welcome {{name}}</p>
<form action="/logout?_method=DELETE" method="post">
<button type="submit" class="logout-link">Log out</button>
</form>
<form action="" method="post">
    <table>
        <tr>
            <td><label for="pname">Product Name</label></td>
            <td><input type="text" id="pname" name="pname" required></td>
        </tr>
        <tr>
            <td><label for="file">Product Image</label></td>
            <td><input type="file" id="file" name="file" required></td>
        </tr>
    </table>
</form>