{{> links}}
<h1>Product management main page</h1>
<p>This is a simple product management application<br>that retrives products based on a user's location<br>and you can add a product and set a location<br>where it can be found.</p>
<div class="landing-div">
<div>
    <p>Are you new user to the platform?<br>Please register <a href="/signup">here</a> to get<br>access to these services</p>
    <button type="submit"><a href="/signup">Sign Up</a></button>
</div>
<div>
    <p>Are you a user to the platform?<br>Please login <a href="/login">here</a> to get<br>access to these services</p>
    <button type="submit"><a href="/login">Login</a></button>
</div>
</div>