<h1>This is a signup page</h1>
{{> links}}
<form action="/" method="post" onsubmit="return validatePassword()">
    <table>
        <tr>
            <td><label for="fname">First Name</label></td>
            <td ><input type="text" id="fname" name="fname" required></td>
        </tr>
        <tr>
            <td><label for="lname">Last Name</label></td>
            <td><input type="text" id="lname" name="lname" required></td>
        </tr>
        <tr>
            <td><label for="email">Email</label></td>
            <td><input type="email" id="email" name="email" required></td>
        </tr>
        <tr>
            <td><label for="location">Location</label></td>
            <td><input type="text" id="location" name="location" required></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input type="password" id="password" name="password" required></td>
        </tr>
        <tr>
            <td><label for="confirm-password">Confirm Password</label></td>
            <td><input type="password" id="confirm-password" name="confirm-password" required><br>
            <strong id="small-password">Passwords don't match!!!</strong>
            </td>
        </tr>
    </table>
    <button type="submit">Sign Up</button>
</form>
<p>Already a user?<a href="/login">Login</a></p>